<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
    <nz-table #basicTable [nzData]="bookings" [nzPageSize]="20" [nzShowPagination]="'false'">
        <thead>
            <tr>
                <th style="font-weight: bolder; color: #003973;">Prenotazione N°</th>
                <th style="font-weight: bolder; color: #003973;">Auto</th>
                <th style="font-weight: bolder; color: #003973;">Inizio Prenotazione</th>
                <th style="font-weight: bolder; color: #003973;">Fine Prenotazione</th>
                <th style="font-weight: bolder; color: #003973;">Totale Giorni</th>
                <th style="font-weight: bolder; color: #003973;">Stato</th>
            </tr>
        </thead>
        <tbody>
            @for (booking of basicTable.data; track $index) {
                <tr>
                    <td>{{booking.id}}</td>
                    <td>{{booking.casaCostruttrice}} {{booking.modello}} {{booking.targa}} <br> Targa: {{booking.targa}}</td>
                    <td>{{booking.inizioPrenotazione | date: 'MMM d, y'}}</td>
                    <td>{{booking.finePrenotazione | date: 'MMM d, y'}}</td>
                    <td>{{booking.days}}</td>
                    <td>
                        <strong [ngStyle]="{'color': booking.status === 'APPROVATA' ? 'green' : booking.status === 'RIFIUTATA' ? 'red' : 'orange'}">
                            {{booking.status}}
                        </strong>
                    </td>
                </tr>
            }
        </tbody>
    </nz-table>
</nz-spin>