<div style="background-color: #F8F8F8; min-height: 91vh;">

    <div style="padding-top: 10px;"></div>

    @for (customer of customers; track customer.id) {
        <div style="margin-top: 10px;" class="child">
            <div nz-row>
                <div nz-col nzSpan="24">
                    <h2 style="cursor: pointer; color: #108ee9;">
                        Cliente: {{customer.firstName}} {{customer.lastName}}
                    </h2>
                    <p>Data di nascita: {{customer.birthDate}}</p>
                    <hr>
                    <div style="float: right;">
                        <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary"
                         [routerLink]="['/admin/customer', customer.id, 'bookings']" >Prenotazioni</button>
                        <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary"
                         [routerLink]="['/admin/customer/', customer.id]" >Aggiorna cliente</button>
                        @if(customer.enabled) {
                            <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary"
                            (click)="disableUser(customer.id)" nzDanger>Disabilita</button>
                        } @else {
                            <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary" class="btn-success"
                         (click)="enableUser(customer.id)">Abilita</button>
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    }
    
</div>