@if (car) {
    <div style="background-color: #F8F8F8; min-height: 91vh;">
        <div style="padding-top: 10px;"></div>

        <div style="margin-top: 10px;" class="child">
            <div nz-row>
                <div nz-col nzSpan="24">
                    <h2 style="cursor: pointer; color: #108ee9;">
                        {{car.casaCostruttrice}} - {{car.modello}}
                    </h2>
                    <p>Tipo: {{car.autoType}}</p>
                    <hr>
                    <h5>Immatricolazione: <b>{{car.annoImmatricolazione}}</b> - Targa: <b>{{car.targa}}</b></h5>
                    <hr>
                    <div style="float: right;">
                        <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary" routerLink="/customer/book/{{car.id}}">Prenota</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
