.child {
    padding: 20px;
    width: 780px;
    background-color: white;
    background: white;
    box-shadow: 1px 1px 15px -7px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}